<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>过滤器</h3>
    <p>使用普通方法, 如果没有参数,可以直接使用,不加小括号! <br>{{ title.upper }}</p>
    <p>使用djangoTemplate提供过滤器语法: <br>{{ title | upper }}</p>

    <p>默认情况下，django输出内容的时候，会判断是否有html标签，如果有，则会进行转义<br>
    为什么要转义? 为了网站的安全，不会被别人在留言或者表单中进行XSS攻击(跨站脚本攻击)<br>
    我们有时候也会在页面中输出一个我们信任的html内容，由后端运营人员编写的，这时候可以使用safe过滤器.
    </p>
    {{ title2 }}<br>
    {{ title3 | safe }}<br>

    {{ title4 | default:"默认值" }}<br>

    <p>{{ pub_date | date:"Y年m月j日  H时i分s秒" }}</p>
    <p>{{ pub_date | date:"Y年m月j日" }}</p>

    {# 按英文单词截取长度，对于中文的词语是不识别的 #}
    <p>{{ title | truncatewords:2 }}</p>
    {# 按字符截取长度 #}
    <p>{{ title | truncatechars:2 }}</p>
</body>
</html>