<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>输出元组成员，必须使用 点 语法</p>
    <p>{{ tuple }}</p>
    <p>{{ tuple.0 }}</p>
    <p>{{ tuple.1 }}</p>
    <p>输出列表成员，必须使用 点 语法</p>
    <p>{{ list1 }}</p>
    <p>{{ list1.1 }}</p>
    <p>{{ list1.0 }}</p>
    <p>输出字典成员，必须使用 点 语法</p>
    <p>{{ dict1 }}</p>
    <p>{{ dict1.name }}</p>
    <p>{{ dict1.age }}</p>
    <p>不可以直接调用函数</p>
    <p>不支持模板中编写表达式</p>

</body>
</html>